@import '../../styles/index';

%font-bold {
  font-weight: bold;
}

.choose-spell {
  @include flexbox(column, flex-start, center);
  @extend %sceneStyle;
  &-list {
    @include flexbox(row, space-evenly, flex-start);
    flex-wrap: wrap;
    width: 500px;

    li {
      width: 135px;
      height: 150px;
      border: 2px solid #9198e5;
      border-radius: 10px;
      transition: all 0.3s linear;
    }

    li:hover
    {
      border: 2px solid #ea3919;
    }
  }
}

.spell {
  @include flexbox(column, space-evenly, center);
  margin-top: 10px;
  width: 130px;
  height: 110px;
  border: 2px solid #9198e5;
  border-radius: 10px;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    border: 2px solid #ea3919;
  }

  &-title {
    @extend %font-bold;
    color: #ea3919;
    text-align: center;
  }

  &-hp {
    @extend %font-bold;
    &:before {
      content: "-hp: ";
    }
  }

  &-cost {
    @extend %font-bold;
    &:before {
      content: "coin: ";
    }
  }

}

.cash-count:before {
  @extend %font-bold;
  content: "Твои coin: ";
}
