@import '../../styles/index';

.game {
  @include flexbox(column, flex-start, center);
  padding-top: 35px;
  color: #fff;

  h1 {
    font-size: 40px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 14px;
    margin-bottom: 30px;
  }

  &-area {
    @include flexbox(row, space-between, flex-start, wrap);
    padding: 50px 35px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

}

.easy,
.medium {
  width: 800px;
}

.hard {
  width: 1200px;
}
