@import '../../styles/index';

.timerHud {
  @include flexbox(column, center, center);

  &__timer::before {
    content: "Таймер: ";
  }

  &__roundNumber {
    margin-top: 5px;

    &:before {
      content: "Раунд: ";
    }
  }
}
