* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes slidein {
  from {
    margin-top: -50px;
    opacity: 0;
  }

  to {
    margin-top: 200px;
    opacity: 1;
  }
}

body {
  width: 1345px;
  min-height: 1100px;
  max-height: 1400px;
  font-family: Helvetica;
  background-image: linear-gradient(#e66465, #9198e5);
}

.disable {
 display: none;
}

.visibiliti {
  visibility: hidden;
}


/* universal selectors */

body
,.stages-block
,.registration-first-stage
,.registration-second-stage
,.registration-thrid-stage
,.registration-four-stage
,.registration-fifth-stage
,.registration-form
,.game-block
,.card-front
,.card-back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.registration-buttons
,.registration-skirt
,.navigation-bar
,.game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.registration-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
}

.stages-block {
  width: 750px;
  min-height: 350px;
  max-height: 700px;
  display: flex;
  margin: 200px auto 0;
  background-color: #fff;
  border-radius: 30px;
  transform: translateZ(0);
  animation: slidein 0.6s linear;
  box-shadow: 2px 3px rgba(0,0,0,0.2);
}

.stages-block h1
 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 35px;
  text-transform: uppercase;
}

.stages-block p {
  width: 600px;
  line-height: 2;
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.registration-buttons
,.registration-skirt
,.navigation-bar {
  width: 500px;
  margin-top: 35px;
}

.registration-buttons li
,.navigation-bar li
,.scoreCloseButton {
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-user-select: none;
  background-color: #9198e5;
  transition: background-color 0.3s linear;
}

.card-back--icon
,.registration-skirt li {
    width: 150px;
    height: 150px;
    background: url("../images/skirts.png");
}

.navigation-bar {
  width: 600px;
}

.registration-buttons li:hover
,.scoreCloseButton:hover {
  background-color: #e66465;
}

.registration-skirt li {
  cursor: pointer;
  transition: margin-top 0.1s linear;
}

.registration-skirt li:hover {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  margin-top: 5px;
}

.registration-skirt li:first-child
,.skirt-one {
  background-position: -25px -395px;
}

.registration-skirt li:nth-child(2)
,.skirt-two {
  background-position: 174px -395px;
}

.registration-skirt li:nth-child(3)
,.skirt-three {
  background-position: 375px -395px;
}

.registration-form {
  align-items: flex-end;
}

.registration-form input {
  padding: 5px 15px;
  width: 200px;
  margin-top: 10px;
  border: 1px solid #9198e5;
  background-color: rgba(255,255,255,0.5);
  font-size: 17px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s linear
}

.registration-form input:focus {
  border: 1px solid #e66465;
}

/* Game block */

.game-block {
  padding-top: 35px;
}

.game-block h1 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}

.game-block h2 {
  color: #fff;
  font-size: 14px;
}

.timeStat {
  font-size: 18px;
  color: #fff;
  margin: 30px 0 50px 0;
}

.game-area {
  padding: 50px 35px;
  align-items: flex-start;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.easy
,.medium {
  width: 800px;
}

.hard {
  width: 1200px;
}

 .card {
  width: 175px;
  height: 225px;
  position: relative;
  margin: 10px 5px;
  cursor: pointer;
}

.card-back,
.card-front {
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  backface-visibility: hidden;
  border-radius: 20px;
}

.card-front {
  background-color: #fff;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card-back {
  background-color: #9198e5;

}

.-open {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
}

.card-front--icon {
  width: 150px;
  height: 150px;
  background-size: contain;
}

.score-table tr th {
  padding: 10px 15px;
}

.score-table tr:first-child th {
  background-color: #e66465;
}

.scoreCloseButton {
  margin-top: 50px;
  margin-bottom: 25px;
}
