@import './index';

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 1100px;
  max-height: 1400px;
  background-image: linear-gradient(#e66465, #9198e5);
  font-family: Helvetica;
  @include flexbox(column, flex-start, center);
}

@keyframes slidein {
  from {
    margin-top: -150px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.active-button {
  @extend %input-style;
  border: 2px solid #ea3919;

  &:active {
    border: 2px solid #ea3919;
    background-color: #d63619;
    color: #fff;
  }
}
